@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --theme:#2c187e;
  --black:black;
  --white:white;
  --shadow-color:0px 0px 30px 8px rgb(227,227,227,0.75);
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
}

input {
  font-family: "Montserrat", sans-serif;
}